<?xml version="1.0"?>

<robot name="simple_box">
  <link name="my_box">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.5"/>
      <geometry>
        <!--box size="1 1 2" /-->
        <mesh filename="package://p3at_gazebo/worlds/person_walking/meshes/walking.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
  </link>
  <!--gazebo reference="my_box">
    <material>Gazebo/Blue</material>
  </gazebo-->

  <gazebo>
    <plugin name="controller_p3at" filename="libgazebo_ros_planar_move.so">
      <robotNamespace>sim_actor</robotNamespace>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>100.0</odometryRate>
      <robotBaseFrame>my_box</robotBaseFrame>
      <publishTf>true</publishTf>
    </plugin>
  </gazebo>

</robot>